/* Website Styles */
*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /*border: 1px solid red; */
}
body{
  background-color: sienna;
  color: ChocolateBrown;
  font-family: RedRose, cursive;
  font-size: 14px;
  }
  h1{
  color: ChocolateBrown;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
}
header h1{
  text-align: center;
}
h2{
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}
p{
  line-height: 2;
}
section li  {
  color: saddlebrown;
}
a {
  color: saddlebrown;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: grey;
}
header,
section,
footer {
  padding: 30px;
}
header{
  border-bottom: 5px solid grey;
}
section {
  border: 1px solid gainsboro;
  background-color: bisque;
  margin: 30px;
  padding: 30px;
}
img {
  height: 500px;
}
.title{
  font-size:48px;
  text-decoration: underline;
}
