/* Website Styles */
*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /*border: 1px solid red; */
}
body{
  background-color: sienna;
  color: ChocolateBrown;
  font-family: RedRose, cursive;
  font-size: 14px;
  background-image: url(images/moroccan-flower-dark.png);
}
  h1{
  color: ChocolateBrown;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
}
header h1{
  text-align: center;
}
h2{
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}
p{
  line-height: 2;
}
section li  {
  color: saddlebrown;
  float: left;
  width: 25%
}
a {
  color: saddlebrown;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: grey;
}
header,
section,
footer {
  padding: 30px;
}
header{
  border-bottom: 5px solid Black;
}
section {
  border: 1px solid gainsboro;
  background-color: bisque;
  margin: 30px;
  padding: 30px;
}
img {
  height: 500px;
  padding: 15px;
}
.title{
  font-size:48px;
  text-decoration: underline;
}
.box{
  border: 1px solid black;
  padding: 20px;
}
.box p {
  font-size: 24px;
}
.container {
  max-width: 1000px;
}
div {
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.box{
  background-image:url(images/moroccan-flower-dark.png);
  background-size: 100%;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}
.banner{
  height: 350px;
  background-image: url(images/plant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner{
  background-position: center;
}
.photo{
  background-position: 50% right;
}
.icon{
  background-position: 0 100px;
}
