/* Website Styles */
*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /*border: 1px solid red; */
}
body{
  background-color: sienna;
  color: ChocolateBrown;
  font-family: RedRose, cursive;
  font-size: 14px;
  background-image: url(images/fancy-cushion.png);
}
  /* h1{
  color: ChocolateBrown;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
} */
header h1{
  text-align: center;
  font-size: 60px;
  color: Goldenrod;
  margin-bottom: 60px;
  font-style: italic;
}
h2 {
  font-size: 25px;
  color: lightpink;
  text-align: center;
}
h3{
  font-size: 25px;
  font-weight: 300;
  /* font-style: italic; */
  margin-bottom: 20px;
  color: ChocolateBrown;
  text-align: center;
}
h4{
  font-size: 15px;
  color: pink;
  text-align: center;
  font-style: italic;
}
p{
  line-height: 2;
  color: goldenrod;
}
section li  {
  color: saddlebrown;
  float: left;
  width: 25%
}
a {
  color: saddlebrown;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: grey;
}
header,
section,
footer {
  padding: 30px;
}
header{
  border-bottom: 5px solid Black;
}
section {
  border: 1px solid gainsboro;
  background-color: bisque;
  margin: 30px;
  padding: 30px;
}
img {
  height: 500px;
  padding: 15px;
}
.title{
  font-size:48px;
  text-decoration: underline;
}
/* .box p {
  font-size: 8px;
  background-color:white; */
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.box{
  background-image:url(images/fancy-cushion.png);
  background-size: 100%;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border: 1px solid black;
  padding: 20px;
  margin: 0 auto;
}
.banner{
  height: 350px;
  background-image: url(images/plant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo{
  background-position: 50% right;
}
.icon{
  background-position: 0 100px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: RedRose, cursive;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width:25%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: Saddlebrown;
}

.containerTab {
  padding: 20px;
  color: Saddlebrown;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color:black;
  font-size: 35px;
  cursor: pointer;
}
